{% extends "base.html" %}

<title> {% block title %}4.Administration Practice{% endblock %}</title>

{% block content %} 

<br> 
<form method = "POST">
  <div>
    <br>
    <h2> 4.Administration Practice</h1>
    </div>
    <div>
        <p>4.1 Reports and records effectively and as required </p>
        <input type="checkbox" id="html" name="org_req" value="HTML">
        <label for="html">1</label>
        <input type="checkbox" id="css" name="org_req" value="CSS">
        <label for="css">2</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">3</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">4</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">5</label>
        <input type="date" id="date" name="date">
    </div>
  <div>
    <textarea name="message" rows="10" cols="30" placeholder="Evidence.">Evidence.</textarea>
    <div>
        <textarea name="message" rows="3" cols="30" placeholder="Actions."></textarea>  
    </div>
    
  </div>
  <p>4.2 Effective parent and school staff relationships </p>
  <input type="checkbox" id="html" name="org_req" value="HTML">
  <label for="html">1</label>
  <input type="checkbox" id="css" name="org_req" value="CSS">
  <label for="css">2</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">3</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">4</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">5</label>
  <input type="date" id="date" name="date">
  <div>
    <div>
        <textarea name="message" rows="10" cols="30">
        Evidence.
        </textarea>
    </div>
        <div>
            <textarea name="message" rows="3" cols="30" placeholder="Actions.">
            Actions.
        </textarea>  
        </div> 
  </div>
</form>
<p><a href="/">Submit</a></p>


{% endblock %} 