{% extends "base.html" %}

<title> {% block title %}4.Administration Practice{% endblock %}</title>

<link rel="stylesheet" href="style.css">

{% block content %} 
<div class="raredog">
<br>
    
<form class="form-wrapper">
  <fieldset class="section is-active">
    <div>
      <div class="checkbx">
        <p>4.1 Reports and records effectively and as required </p>
        <input type="checkbox" id="html" name="org_req" value="HTML">
        
  <label for="html">1</label>
  <input type="checkbox" id="css" name="org_req" value="CSS">
  <label for="css">2</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">3</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">4</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">5</label>
</div>
 
  <div>
    <textarea name="message" rows="10" cols="30">
    Evidence
    </textarea>
    <div>
        <textarea name="message" rows="3" cols="30">
    Actions
    </textarea>  
    </div>
  </div> 
  </div>
  
  <div class="checkbx">
  <p>4.2 Effective parent and school staff relationships </p>
  <input type="checkbox" id="html" name="org_req" value="HTML">
  <label for="html">1</label>
  <input type="checkbox" id="css" name="org_req" value="CSS">
  <label for="css">2</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">3</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">4</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">5</label>
</div> 
  <div>
    <div>
        <textarea name="message" rows="10" cols="30">
    Evidence
        </textarea>
    </div>
        <div>
            <textarea name="message" rows="3" cols="30">
    Actions
        </textarea>  
    
      </div>

</div>
</fieldset> 
</form>
<p><a href="/">Submit</a></p>
</div>

{% endblock %} 
