{%extends base.html%}

{%block title%}Approval{%endblock%}

{%block content%}

<form method = "post" action = "">
    <h1>Approval</h1>
    <p> Your request will be sent to the administrator for approval.</p>

     {%for user in users %}
        <p>{{user.username}}</p>
        <p>{{user.email}}</p>
        <p><a >Approve/Reject</a></p>
        <div class="form-check">
            {{ form.accept(class="form-check-input") }}
            {{ form.accept.label(class="form-check-label") }}
        </div>
    {%endfor%}

</form>

    <p><a href="{{url_for('views.home')}}">Return to home page</a></p>





{%endblock%}