{%extends 'base.html' %}

{%block title%}Approval{%endblock%}

{%block content%}


    </fieldset>
     {%if users %}
     <form method = "post" action = "/approval"><h1>Approval</h1>
            <fieldset>
            <table style ="width:100%">
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
                {%for user in users %}
                <tr>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ form.accept }}</td>
                </tr>
                
                <!--&nbsp; Accept, Reject, or Defer-->
                <!--<input type="radio" name="user_{{user.username}}" value="1" />-->
                <!--&nbsp; Reject-->
                <!--<input type="radio" name="user_{{user.username}}" value="-1" />-->
                
                <!--&nbsp; Defer-->
                <!--<input type="radio" name="user_{{user.username}}" value="0" checked="checked" />-->
                
            </fieldset>      
        {%endfor%}
         <!-- submit buttn goes here -->
         <div>
             {{form.submit}}
         </div>
         <div>
             <p><a href="{{url_for('views.home')}}">Return to home page</a></p>
         </div>
        
     {%endif%}


</form>

   





{%endblock%}