{% extends "base.html" %}

<title> {% block title %}Home{% endblock %}</title>
{% block content %} 
<br>
&nbsp;
{%if user%}
<h1>Welcome {{current_user.name}} to the {{school.school_name}} Appraisal App</h1>
<h2>A user-friendly appraisal experience</h2>
<!--link to register page-->
    <!--<p></p>-->
<!--</div>-->
{%else%}
<h1>Welcome to the Supervisor Appraisal App</h1>
<h2>A user-friendly appraisal experience</h2>
<!--link to register page-->
    <p><a href="{{ url_for('auth.sign_up') }}">Sign Up</a></p>
{%endif%}
<div style="font-size: 60px; text-align: center; margin-top: 8%; font-weight: 400; color: #fff">
    <div>Welcome {{current_user.name}} to the Supervisor</div>
    <di
    <div>Appraisal App</div>
</div>
<div style="text-align: center; margin-top: 50px;font-size: 25px; color:#fff">
    This application provides a digital and intuitive experience to the BTAU Boarding Supervisor matrix.
</div>
{% endblock %} 
</div>
