{% extends "base.html" %}

<title> {% block title %}1.Professional Practice{% endblock %}</title>

{% block content %} 

<br>
    
<form method="POST">
    <div>
        <br>
        <h2> 1. Professional Practice</h1>
    </div>
    <div>
        <br>
        <p>1.1 Aware of and complies with current legislation relevant to the role </p>
        <input type="checkbox" id="html" name="org_req" value="HTML">
        <label for="html">1</label>
        <input type="checkbox" id="css" name="org_req" value="CSS">
        <label for="css">2</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">3</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">4</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">5</label>
        <input type="date" id="date" name="date">
 
    </div>
  <div>
    <textarea name="message" rows="10" cols="30">
    Evidence.
    </textarea>
    <div>
        <textarea name="message" rows="3" cols="30">
        Actions.
    </textarea>  
    </div>
    
  </div>
    <p>1.2 Aware of and complies with organisation requirements </p>
    <input type="checkbox" id="html" name="org_req" value="HTML">
    <label for="html">1</label>
    <input type="checkbox" id="css" name="org_req" value="CSS">
    <label for="css">2</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">3</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">4</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">5</label>
    <input type="date" id="date" name="date">
  <div>
    <div>
        <textarea name="message" rows="10" cols="30">
        Evidence.
        </textarea>
    </div>
        <div>
            <textarea name="message" rows="3" cols="30">
            Actions.
        </textarea>  
        </div>
    </div>
        <p>1.3 Relevant professional learning completed </p>
        <input type="checkbox" id="html" name="org_req" value="HTML">
        <label for="html">1</label>
        <input type="checkbox" id="css" name="org_req" value="CSS">
        <label for="css">2</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">3</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">4</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">5</label>
        <input type="date" id="date" name="date">
    <div>
      <div>
          <textarea name="message" rows="10" cols="30">
          Evidence.
          </textarea>
      </div>
          <div>
              <textarea name="message" rows="3" cols="30">
              Actions.
          </textarea>  
          </div>
          <div>
          <p>1.4 Safe Workplace health and safety practices </p>
          <input type="checkbox" id="html" name="org_req" value="HTML">
        <label for="html">1</label>
        <input type="checkbox" id="css" name="org_req" value="CSS">
        <label for="css">2</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">3</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">4</label>
        <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
        <label for="javascript">5</label>
        <input type="date" id="date" name="date">
        </div>
            <div>
                <textarea name="message" rows="10" cols="30">
                Evidence.
                </textarea>
            </div>
                <div>
                    <textarea name="message" rows="3" cols="30">
                    Actions.
                </textarea>  
                </div>
  </div>
</form>
<p><a href="/supervision-practice">Next Page</a></p>


{% endblock %} 