{% extends "base.html" %}

<title> {% block title %}Sign Up{% endblock %}</title>

{% block content %} 

<form method = "POST" action="{{url_for('auth.sign_up')}}">
    <br>
    <div>
    <h3 align = "center"> Sign Up</h3>
    <div>
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
    </div>
    
    <br>
    <div>
        {{ form.username.label }} {{ form.username }}</div>
    <div>
        {{ form.email.label }} {{ form.email }}</div>
    <div>
        {{ form.password.label }} {{ form.password }}</div>
    <div>
        {{ form.confirm_password.label }} {{ form.confirm_password }}</div>
    
    {{form.submit}}

    </div>
    <br>
    

</form>
{% endblock %} 