{% extends "base.html" %}

<title> {% block title %}Start Up {% endblock %}</title>

{% block content %} 
<br/>
<br/>
<h1 align = "centre">Start Up Page</h1> 
<br/>
<div>
    <form method = "POST" action = "">
        <a>What is your position?:</a>
        
        <div><a href="/admin-sign-up">{{ form.manager }}{{form.manager.label}}</a></div>
        <div><a href="/sign-up" >{{form.supervisor}}</a></div>
        <div><a href="/admin-sign-up">{{form.admin}}</a></div>
        </form>
</div>
{% endblock %} 