{% extends "base.html" %}

<title> {% block title %}2.Supervision Practice{% endblock %}</title>

{% block content %} 

<br>
    
<form method="POST">
    <div>
        <p>2.1 Contributes to safe activities and environment for all boarders. </p>
        <input type="checkbox" id="html" name="org_req" value="HTML">
  <label for="html">1</label>
  <input type="checkbox" id="css" name="org_req" value="CSS">
  <label for="css">2</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">3</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">4</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">5</label>
    </div>
  <div>
    <textarea name="message" rows="10" cols="30">
    Evidence.
    </textarea>
    <div>
        <textarea name="message" rows="3" cols="30">
        Actions.
    </textarea>  
    </div>
    
  </div>
  <p>2.2 Has respectful professional relationships with all boarders. </p>
  <input type="checkbox" id="html" name="org_req" value="HTML">
  <label for="html">1</label>
  <input type="checkbox" id="css" name="org_req" value="CSS">
  <label for="css">2</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">3</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">4</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">5</label>
  <div>
    <div>
        <textarea name="message" rows="10" cols="30">
        Evidence.
        </textarea>
    </div>
        <div>
            <textarea name="message" rows="3" cols="30">
            Actions.
        </textarea>  
        </div>
    </div>
    <p>2.3 Supervises boarders effectively, supporting and meeting needs</p>
    <input type="checkbox" id="html" name="org_req" value="HTML">
    <label for="html">1</label>
    <input type="checkbox" id="css" name="org_req" value="CSS">
    <label for="css">2</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">3</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">4</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">5</label>
    <div>
      <div>
          <textarea name="message" rows="10" cols="30">
          Evidence.
          </textarea>
      </div>
          <div>
              <textarea name="message" rows="3" cols="30">
              Actions.
          </textarea>  
          </div>
          <p>2.4 Facilitates positive boarder behaviours </p>
          <input type="checkbox" id="html" name="org_req" value="HTML">
  <label for="html">1</label>
  <input type="checkbox" id="css" name="org_req" value="CSS">
  <label for="css">2</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">3</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">4</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">5</label>
          <div>
            <div>
                <textarea name="message" rows="10" cols="30">
                Evidence.
                </textarea>
            </div>
                <div>
                    <textarea name="message" rows="3" cols="30">
                    Actions.
                </textarea>  
                </div>
            </div>
            <p>2.5 Provides sensitive appropriate cultural support </p>
            <input type="checkbox" id="html" name="org_req" value="HTML">
    <label for="html">1</label>
    <input type="checkbox" id="css" name="org_req" value="CSS">
    <label for="css">2</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">3</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">4</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">5</label>
            <div>
              <div>
                  <textarea name="message" rows="10" cols="30">
                  Evidence.
                  </textarea>
              </div>
                  <div>
                      <textarea name="message" rows="3" cols="30">
                      Actions.
                  </textarea>  
                  </div>
  </div>
</form>
<p><a href="/team-practice">Next Page</a></p>


{% endblock %} 