{%extends 'base.html'%}
{%block title%}User Table{%endblock%}
{%block content%}
{%if users%}
<form method = "POST" action = "">
<body> 
    <h2> Users List</h2>
    <table style ="width:100%">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Is Manager</th>
            <th>Is Admin</th>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{form.is_manager}}</td>
            <td> {{form.is_superuser}}</td>
            <td><a href="{{ url_for('views.edit_user', id=user.id) }}">Edit</a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</div>
{{form.submit}}
{%endif%}
</form>
{%endblock%}