{% extends "base.html" %}

<title> {% block title %}3.Team Practice{% endblock %}</title>

{% block content %} 

<br>
    
<form method="POST">
    <div>
        <p>3.1 Respects and support residence leadership </p>
        <input type="checkbox" id="html" name="org_req" value="HTML">
  <label for="html">1</label>
  <input type="checkbox" id="css" name="org_req" value="CSS">
  <label for="css">2</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">3</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">4</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">5</label>
    </div>
  <div>
    <textarea name="message" rows="10" cols="30">
    Evidence.
    </textarea>
    <div>
        <textarea name="message" rows="3" cols="30">
        Actions.
    </textarea>  
    </div>
    
  </div>
  <p>3.2 Has effective respectful relationships with other members of the team </p>
  <input type="checkbox" id="html" name="org_req" value="HTML">
  <label for="html">1</label>
  <input type="checkbox" id="css" name="org_req" value="CSS">
  <label for="css">2</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">3</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">4</label>
  <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
  <label for="javascript">5</label>
  <div>
    <div>
        <textarea name="message" rows="10" cols="30">
        Evidence.
        </textarea>
    </div>
        <div>
            <textarea name="message" rows="3" cols="30">
            Actions.
        </textarea>  
        </div>
    </div>
    <p>3.3 Supports the induction and training of new team members</p>
    <input type="checkbox" id="html" name="org_req" value="HTML">
    <label for="html">1</label>
    <input type="checkbox" id="css" name="org_req" value="CSS">
    <label for="css">2</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">3</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">4</label>
    <input type="checkbox" id="javascript" name="org_req" value="JavaScript">
    <label for="javascript">5</label>
    <div>
      <div>
          <textarea name="message" rows="10" cols="30">
          Evidence.
          </textarea>
      </div>
          <div>
              <textarea name="message" rows="3" cols="30">
              Actions.
          </textarea>     
  </div>
</form>
<p><a href="/administration-practice">Next Page</a></p>


{% endblock %} 